# Inferential Statistics - Hypothesis Testing
Hypothesis testing is an act in statistics whereby an analyst tests an assumption regarding a population parameter. The methodology employed by the analyst depends on the nature of the data used and the reason for the analysis.

Hypothesis testing is used to assess the plausibility of a hypothesis by using sample data. Such data may come from a larger population, or from a data-generating process.

In [2]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stets

In [3]:
df = pd.read_csv('blood_pressure.csv')

df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [6]:
df[['bp_before','bp_after']].describe()
df.head()

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [7]:
df.shape

(120, 5)

## Paired Sampled T-test
Paired sampled t-test :- The paired sample t-test is also called dependent sample t-test. It's an uni variate test that tests for a significant difference between 2 related variables. An example of this is if you where to collect the blood pressure to an individual before and after some treatment, condition, or time point.

H0 :- means difference between two sample is 0

H1 :- means difference between two sample is not 0

In [8]:
ttest, pval = stats.ttest_rel(df['bp_before'], df['bp_after'])
print(pval)

0.0011297914644840823

In [9]:
if pval < 0.05:
    print('reject null hypothesis')
else:
    print('accept null hypothesis')

reject null hypothesis